// scss/style.scss

// Fonts
$font-family-base: Futura, Arial, sans-serif, -apple-system;
$font-family-heading: 'Playfair Display', sans-serif, -apple-system; 

// Colors
$primary: #4043f2;
$secondary: #f88379;
$black: #2f2f41;
$white: #ffffff;
$white-offset: #f6f7ff;
$steel: #5C5A5A;